Rober.Action/bin/
Rober.Action/obj/
Rober.Core/bin/
Rober.Core/obj/
Rober.DAL/bin/
Rober.DAL/obj/
Rober.IDAL/obj/
Rober.IDAL/bin/
Rober.ServerApp/obj/
Rober.ServerApp/bin/
Rober.WebApp/obj/
Rober.WebApp/bin/
Rober.Action.Model/obj/
Rober.Action.Model/bin/
Rober.ServerApp.Frameworkl/obj/
Rober.ServerApp.Framework/bin/
Rober.WebApp.Framework/obj/
Rober.WebApp.Framework/bin/