@model UserModel
@{
    //page title
    ViewBag.Title = "Edit user details";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("用户管理");
}

<form asp-controller="User" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
           编辑用户 - @Model.UserName
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="Index">返回列表</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                保存
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                保存并继续编辑
            </button>
            <span id="blogpost-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                删除
            </span>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="blogpost-delete" />