@{
    Layout = "_AdminPopupLayout";
    var popGridPageSize = 10;
}
@model RuleModel.AddRuleUserModel

<script type="text/javascript">
    var selectUsers = new Array();
    $(document).ready(function() {
        $("#save").click(function() {
            try {
                window.opener.Choice_@(Context.Request.Query["ChoiceId"])(selectUsers);
            } catch (e) {
                alert(e);
            }
            window.close();
        });
    });

</script>



    <div class="content-header clearfix">
        <h1 class="pull-left">
            新增用户
        </h1>
        <div class="pull-right">
            &nbsp;
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search panel-popup">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <jm-label asp-for="UserName" />
                                    </div>
                                    <div class="col-sm-7">
                                        <jm-editor asp-for="UserName" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <jm-label asp-for="PublishedId" />
                                    </div>
                                    <div class="col-sm-7">
                                        <jm-select asp-for="PublishedId" asp-items="Model.AvailablePublishedOptions" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" id="search-users" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    查询
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="users-grid"></div>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $("#users-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Url.Action("UserAddPopubList")",
                                                type: "GET",
                                                contentType: "application/json",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            errors: function (response) {
                                                if (response.Status) {
                                                    return response.Data.Errors;
                                                } else {
                                                    return response.Code + " " + response.Message;
                                                }
                                            },
                                            data: "Data.Data",
                                            total: "Data.Total"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(popGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        @await Html.PartialAsync("_GridPagerMessages")
                                    },
                                    editable: {
                                        confirmation: "Are you sure you want to delete this item?",
                                        mode: "inline"
                                    },
                                    scrollable: false,
                                    columns: [
                                        {
                                            field: "Id",
                                            headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                            headerAttributes: { style: "text-align:center" },
                                            template: "<input type='checkbox' name='SelectedUserIds' value='#=Id#' class='checkboxGroups' /><input type='hidden' name='Values' value='#=Id#'/><input type='hidden' name='Texts' value='#=UserName#'/>",
                                            attributes: { style: "text-align:center" },
                                            width: 50
                                        }, {
                                            field: "UserName",
                                            title: "账号"
                                        }, {
                                            field: "NickName",
                                            title: "昵称"
                                        }, {
                                            field: "ErrorCount",
                                            title: "错误次数"
                                        }, {
                                            field: "LoginTime",
                                            title: "登录时间"
                                        }, {
                                            field: "Published",
                                            title: "是否发布",
                                            width: 100,
                                            template: '# if(Published) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                        }
                                    ]
                                });
                            });
                        </script>

                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#search-users').click(function () {
                                    var grid = $('#users-grid').data('kendoGrid');
                                    grid.dataSource.page(1); //new search. Set page size to 1
                                    //grid.dataSource.read(); we already loaded the grid above using "page" function
                                    //clear selected checkboxes
                                    $('.checkboxGroups').attr('checked', false).change();

                                    selectUsers = new Array();

                                    return false;
                                });

                                //wire up checkboxes
                                $('#mastercheckbox').click(function () {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                $('#users-grid').on('change', 'input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]', function (e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectUsers);
                                        if (checked == -1) {
                                            var data = $("#users-grid").data("kendoGrid").dataItem($check.parents("tr"));
                                            //add id to selectedIds.
                                            selectUsers.push({ text: data.UserName, value: data.Id });
                                        }
                                    }
                                    else {
                                        selectUsers = $.grep(selectUsers, function (item, index) {
                                            return item.value != $check.val();
                                        });
                                        //var checked = jQuery.inArray($check.val(), selectUsers);
                                        //if (checked > -1) {
                                        //    //remove id from selectedIds.
                                        //    selectUsers = $.grep(selectUsers, function (item, index) {
                                        //        return item.value != $check.val();
                                        //    });
                                        //}
                                    }
                                    updateMasterCheckbox();
                                });
                            });

                            function additionalData() {
                                var data = {
                                    UserName: $('#UserName').val(),
                                    PublishedId: $('#PublishedId').val()
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#users-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').length;
                                var numChkBoxesChecked = $('#users-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }

                        </script>
                    </div>
                    <div class="panel-footer">
                        <button type="button" name="save" id="save" class="btn bg-blue">
                            <i class="fa fa-floppy-o"></i>
                            保存
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
