@model RuleModel
<div>
    <form asp-controller="Rule" asp-action="Edit" method="post" id="rule-form">
        <div class="content-header clearfix">
            <h1 class="pull-left">
                编辑角色 - @Model.Name
                <small>
                    <i class="fa fa-arrow-circle-left"></i>
                    <a asp-action="Index">返回列表</a>
                </small>
            </h1>
            <div class="pull-right">
                @*<button type="button" onclick="javascript:OpenWindow('/desktops', 800, 600, true); return false;" class="btn bg-purple">
                        <i class="fa fa-eye"></i>
                        Preview
                    </button>*@
                <button type="submit" name="save" class="btn bg-blue">
                    <i class="fa fa-floppy-o"></i>
                    保存
                </button>
                <button type="submit" name="save-continue" class="btn bg-blue">
                    <i class="fa fa-floppy-o"></i>
                    保存并继续编辑
                </button>
                <span id="rule-delete" class="btn bg-red" data-toggle="modal" data-target="#rulemodel-delete-confirmation">
                    <i class="fa fa-trash-o"></i>
                    删除
                </span>
            </div>
        </div>
        @await Html.PartialAsync("_CreateOrUpdate", Model)
    </form>
    <jm-delete-confirmation asp-model-id="@Model.Id" asp-button-id="rule-delete" />
</div>